Repository Ga-Project/gap-attendance-management: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, eslint

rubocop:
  name: Rubocop
  entry: bash -c 'cd backend && bundle exec rubocop'
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

docs: タスク9.2を完了に更新
  .kiro/specs/attendance-management/tasks.md
Due: none

feat: 管理者機能の実装完了
  .kiro/specs/attendance-management/tasks.md
Due: none

test: CSV エクスポート機能のテストを追加
  frontend/src/components/admin/__tests__/UserList.test.tsx
Due: eslint

fix: フロントエンドテストエラーの修正
  frontend/src/components/admin/__tests__/UserList.test.tsx
  frontend/src/setupTests.ts
Due: eslint

fix: フロントエンドlintエラーの完全修正
  frontend/src/components/admin/AttendanceManagement.tsx
  frontend/src/components/admin/AuditLogs.tsx
  frontend/src/components/admin/__tests__/UserList.test.tsx
  frontend/src/pages/AdminDashboard.tsx
  frontend/src/setupTests.ts
Due: eslint

feat: バックエンドサービステストの実装
  backend/spec/services/attendance_query_service_spec.rb
  backend/spec/services/attendance_service_spec.rb
Due: rubocop

feat: フロントエンドコンポーネントテストの実装
  frontend/src/components/__tests__/AdminRoute.test.tsx
  frontend/src/components/__tests__/ProtectedRoute.test.tsx
Due: eslint

feat: 管理者機能テストの実装
  frontend/src/components/admin/__tests__/AttendanceManagement.test.tsx
  frontend/src/components/admin/__tests__/AuditLogs.test.tsx
Due: eslint

feat: ページコンポーネントテストの実装
  frontend/src/pages/__tests__/AdminDashboard.test.tsx
  frontend/src/pages/__tests__/Dashboard.test.tsx
  frontend/src/pages/__tests__/LoginPage.test.tsx
Due: eslint

feat: サービス・コンテキストテストの実装
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/__tests__/attendance.test.ts
Due: eslint

docs: テストスイート実装タスクの完了
  .kiro/specs/attendance-management/tasks.md
Due: none

fix: export AuthContext from AuthContext.tsx
  frontend/src/contexts/AuthContext.tsx
Due: eslint

fix: update AuthContext test to match actual implementation
  frontend/src/contexts/__tests__/AuthContext.test.tsx
Due: eslint

fix: update AdminDashboard test to match actual component
  frontend/src/pages/__tests__/AdminDashboard.test.tsx
Due: eslint

fix: update LoginPage test to match actual component
  frontend/src/pages/__tests__/LoginPage.test.tsx
Due: eslint

fix: update AuditLogs test to match actual component behavior
  frontend/src/components/admin/__tests__/AuditLogs.test.tsx
Due: eslint

fix: update AttendanceManagement test to match actual component
  frontend/src/components/admin/__tests__/AttendanceManagement.test.tsx
Due: eslint

fix: resolve remaining frontend test failures and lint issues
  frontend/src/components/__tests__/AdminRoute.test.tsx
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/pages/__tests__/Dashboard.test.tsx
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/__tests__/attendance.test.ts
Due: eslint

fix: complete frontend test suite fixes and achieve full lint compliance
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/pages/__tests__/Dashboard.test.tsx
Due: eslint

feat: optimize test environment to prevent memory overflow
  frontend/package.json
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/setupTests.ts
Due: eslint

fix: correct AttendanceService test parameter passing
  frontend/src/services/__tests__/attendance.test.ts
Due: eslint

perf: optimize Dashboard component to prevent infinite loops
  frontend/src/pages/Dashboard.tsx
Due: eslint

fix: simplify Dashboard test mock to prevent infinite loops
  frontend/src/pages/__tests__/Dashboard.test.tsx
Due: eslint

remove: delete problematic test files causing memory overflow
  frontend/src/components/__tests__/ProtectedRoute.test.tsx
  frontend/src/services/__tests__/api.test.ts
Due: eslint

feat: Add comprehensive error handling system
  backend/app/controllers/concerns/error_handler.rb
  backend/app/services/concerns/service_errors.rb
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/NotificationProvider.tsx
  frontend/src/hooks/useErrorHandler.ts
  frontend/src/services/errorHandler.ts
  frontend/src/services/notificationService.ts
Due: rubocop, eslint

fix: Update backend controllers for new error handling
  backend/app/controllers/api/v1/admin_controller.rb
  backend/app/controllers/api/v1/attendances_controller.rb
  backend/app/controllers/api/v1/auth_controller.rb
  backend/app/controllers/application_controller.rb
  backend/app/controllers/health_controller.rb
Due: rubocop

fix: Update backend services with improved error handling
  backend/app/services/attendance_service.rb
  backend/app/services/google_auth_service.rb
  backend/app/services/jwt_service.rb
Due: rubocop

fix: Update frontend core files for new error handling system
  frontend/src/App.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/services/api.ts
  frontend/src/services/attendance.ts
Due: eslint

fix: Update TimeClockWidget for new error handling
  frontend/src/components/TimeClockWidget.tsx
Due: eslint

fix: Update backend controller tests for new error handling
  backend/spec/controllers/api/v1/admin_controller_spec.rb
  backend/spec/controllers/api/v1/attendances_controller_spec.rb
  backend/spec/controllers/api/v1/auth_controller_spec.rb
Due: rubocop

fix: Update backend service tests for new error handling
  backend/spec/services/attendance_service_spec.rb
  backend/spec/services/google_auth_service_spec.rb
  backend/spec/services/jwt_service_spec.rb
Due: rubocop

fix: Update core frontend tests for new error handling system
  frontend/src/components/__tests__/TimeClockWidget.test.tsx
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/services/__tests__/attendance.test.ts
Due: eslint

fix: Update page and component tests for new error handling
  frontend/src/components/__tests__/AdminRoute.test.tsx
  frontend/src/components/__tests__/AttendanceHistory.test.tsx
  frontend/src/pages/__tests__/AdminDashboard.test.tsx
  frontend/src/pages/__tests__/Dashboard.test.tsx
  frontend/src/pages/__tests__/LoginPage.test.tsx
Due: eslint

fix: Update admin component tests for new error handling
  frontend/src/components/admin/__tests__/AttendanceManagement.test.tsx
  frontend/src/components/admin/__tests__/AuditLogs.test.tsx
  frontend/src/components/admin/__tests__/UserList.test.tsx
Due: eslint

fix: Update routes and spec documentation
  .kiro/specs/attendance-management/tasks.md
  backend/config/routes.rb
Due: rubocop

refactor(backend): Improve AuthController method structure and readability
  backend/app/controllers/api/v1/auth_controller.rb
Due: rubocop

refactor(backend): Optimize ErrorHandler module for better maintainability
  backend/app/controllers/concerns/error_handler.rb
Due: rubocop

refactor(backend): Refactor HealthController test_error method
  backend/app/controllers/health_controller.rb
Due: rubocop

refactor(backend): Optimize GoogleAuthService verify_id_token method
  backend/app/services/google_auth_service.rb
Due: rubocop

docs: Add comprehensive backend lint fixes documentation
  BACKEND_LINT_FIXES.md
Due: none

Path conditions:
  rubocop: any of: \.rb$
  eslint: any of: \.(js|jsx|ts|tsx)$
