Repository Ga-Project/gap-attendance-management: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rubocop
        name: Rubocop
        entry: bash -c 'cd backend && bundle exec rubocop'
        language: system
        files: \.rb$
        pass_filenames: false
        
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

feat: AuditLogモデルの実装
  backend/app/models/audit_log.rb
Due: rubocop

feat: UserモデルにAuditLogアソシエーションを追加
  backend/app/models/user.rb
Due: rubocop

feat: AuditLogのFactoryBotファクトリーを作成
  backend/spec/factories/audit_logs.rb
Due: rubocop

test: AuditLogモデルの包括的なRSpecテストを追加
  backend/spec/models/audit_log_spec.rb
Due: rubocop

docs: タスク5.4 AuditLogモデルの作成を完了に更新
  .kiro/specs/attendance-management/tasks.md
Due: none

feat: implement GoogleAuthService for OAuth authentication
  backend/app/services/google_auth_service.rb
Due: rubocop

test: add comprehensive tests for JwtService
  backend/spec/services/jwt_service_spec.rb
Due: rubocop

test: add comprehensive tests for AuthController
  backend/spec/controllers/api/v1/auth_controller_spec.rb
Due: rubocop

test: add comprehensive tests for GoogleAuthService
  backend/spec/services/google_auth_service_spec.rb
Due: rubocop

config: improve test environment setup
  backend/Gemfile
  backend/spec/rails_helper.rb
Due: rubocop

docs: mark task 6.1 as completed
  .kiro/specs/attendance-management/tasks.md
Due: none

feat(backend): implement AttendancesController with time clock API endpoints
  backend/app/controllers/api/v1/attendances_controller.rb
  backend/spec/controllers/api/v1/attendances_controller_spec.rb
Due: rubocop

feat(frontend): add attendance service and type definitions
  frontend/src/services/attendance.ts
  frontend/src/types/index.ts
Due: eslint

feat(frontend): implement TimeClockWidget component with full UI functionality
  frontend/src/components/TimeClockWidget.tsx
  frontend/src/components/__tests__/TimeClockWidget.test.tsx
Due: eslint

feat(frontend): integrate TimeClockWidget into Dashboard
  frontend/src/pages/Dashboard.tsx
Due: eslint

docs: update task completion status for time clock functionality
  .kiro/specs/attendance-management/tasks.md
Due: none

refactor(backend): improve AttendancesController code quality and reduce complexity
  backend/app/controllers/api/v1/attendances_controller.rb
Due: rubocop

refactor(backend): extract business logic to service classes to resolve RuboCop violations
  .vscode/settings.json
  backend/app/controllers/api/v1/attendances_controller.rb
  backend/app/serializers/attendance_serializer.rb
  backend/app/services/attendance_query_service.rb
  backend/app/services/attendance_service.rb
Due: rubocop

fix(backend): resolve all remaining RuboCop violations for CI compliance
  backend/app/services/attendance_service.rb
Due: rubocop

feat: 個人勤怠実績取得APIの実装
  backend/app/controllers/api/v1/attendances_controller.rb
  backend/app/services/attendance_query_service.rb
  backend/config/routes.rb
Due: rubocop

test: 個人勤怠実績APIのテスト追加
  backend/spec/controllers/api/v1/attendances_controller_spec.rb
Due: rubocop

feat: フロントエンド統計機能の型定義とサービス層実装
  frontend/package.json
  frontend/src/services/attendance.ts
  frontend/src/types/index.ts
Due: eslint

feat: AttendanceHistoryコンポーネントの実装
  frontend/src/components/AttendanceHistory.tsx
Due: eslint

feat: Dashboardに実績確認機能を統合
  frontend/src/pages/Dashboard.tsx
Due: eslint

test: AttendanceHistoryコンポーネントのテスト実装
  frontend/src/components/__tests__/AttendanceHistory.test.tsx
Due: eslint

chore: コード品質とLint設定の改善
  backend/.rubocop.yml
Due: none

docs: タスク8の完了状況を更新
  .kiro/specs/attendance-management/tasks.md
Due: none

fix: フロントエンドテストエラーの解決
  frontend/package.json
  frontend/src/App.test.tsx
Due: eslint

feat: 管理者コントローラーとAPIルートの実装
  backend/app/controllers/api/v1/admin_controller.rb
  backend/config/routes.rb
Due: rubocop

feat: Attendanceモデルに管理者機能用メソッドを追加
  backend/app/models/attendance.rb
Due: rubocop

test: 管理者コントローラーのテストを追加
  backend/spec/controllers/api/v1/admin_controller_spec.rb
Due: rubocop

feat: 管理者専用ルートとルーティングを追加
  frontend/src/App.tsx
  frontend/src/components/AdminRoute.tsx
Due: eslint

feat: 管理者ダッシュボードページを追加
  frontend/src/pages/AdminDashboard.tsx
Due: eslint

feat: 管理者機能コンポーネント群を追加
  frontend/src/components/admin/AttendanceManagement.tsx
  frontend/src/components/admin/AuditLogs.tsx
  frontend/src/components/admin/UserList.tsx
Due: eslint

feat: ダッシュボードに管理者ナビゲーションを追加
  frontend/src/pages/Dashboard.tsx
Due: eslint

fix: MUI依存関係の統一とテストの修正
  frontend/package.json
  frontend/src/components/AttendanceHistory.tsx
  frontend/src/components/__tests__/AttendanceHistory.test.tsx
Due: eslint

docs: タスク9.1の完了ステータスを更新
  .kiro/specs/attendance-management/tasks.md
Due: none

fix: バックエンドlintエラーの修正
  backend/.rubocop.yml
  backend/app/controllers/api/v1/admin_controller.rb
  backend/app/models/attendance.rb
  backend/spec/controllers/api/v1/admin_controller_spec.rb
Due: rubocop

feat: 全社員勤怠管理機能の実装
  frontend/src/components/admin/UserList.tsx
Due: eslint

test: UserListコンポーネントのテストを追加
  frontend/src/components/admin/__tests__/UserList.test.tsx
Due: eslint
