Repository Ga-Project/gap-attendance-management: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, eslint

rubocop:
  name: Rubocop
  entry: bash -c 'cd backend && bundle exec rubocop'
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

feat: JWT設定の追加
  backend/config/initializers/jwt.rb
Due: rubocop

feat: Google OAuth2設定の追加
  backend/config/initializers/omniauth.rb
Due: rubocop

feat: JWTサービスの実装
  backend/app/services/jwt_service.rb
Due: rubocop

feat: Google認証サービスの実装
  backend/app/services/google_auth_service.rb
Due: rubocop

feat: 認証コントローラーの実装
  backend/app/controllers/api/v1/auth_controller.rb
Due: rubocop

feat: アプリケーションコントローラーに認証機能を追加
  backend/app/controllers/application_controller.rb
Due: rubocop

feat: ヘルスチェックエンドポイントの認証スキップ設定
  backend/app/controllers/health_controller.rb
Due: rubocop

docs: タスク3「Rails APIプロジェクトの初期設定」を完了に更新
  .kiro/specs/attendance-management/tasks.md
Due: none

feat: React 18 + TypeScriptプロジェクトの基本設定
  frontend/package.json
Due: none

feat: TypeScript型定義とAxios API設定
  frontend/.env.example
  frontend/src/services/api.ts
  frontend/src/types/gapi-script.d.ts
  frontend/src/types/index.ts
Due: eslint

feat: Google OAuth2クライアントライブラリの設定
  frontend/src/services/googleAuth.ts
Due: eslint

feat: 認証システムとルート保護の実装
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/contexts/AuthContext.tsx
Due: eslint

feat: React RouterとMaterial-UIの基本設定
  frontend/src/App.tsx
Due: eslint

feat: ログインページとダッシュボードUIの実装
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/LoginPage.tsx
Due: eslint

feat: テスト設定とコード品質の確保
  frontend/src/setupTests.ts
Due: eslint

docs: タスク4の完了ステータス更新
  .kiro/specs/attendance-management/tasks.md
Due: none

chore: VSCode設定の更新
  .vscode/settings.json
Due: none

feat: Add ApplicationRecord base class
  backend/app/models/application_record.rb
Due: rubocop

feat: Add User model database migration
  backend/db/migrate/20250925093534_create_users.rb
  backend/db/schema.rb
Due: rubocop

feat: Implement User model with Google OAuth and role management
  backend/app/models/user.rb
Due: rubocop

feat: Add FactoryBot factory for User model
  backend/spec/factories/users.rb
Due: rubocop

feat: Configure RSpec with FactoryBot integration
  backend/spec/rails_helper.rb
Due: rubocop

test: Add comprehensive User model test suite
  backend/spec/models/user_spec.rb
Due: rubocop

docs: Update task status for User model implementation
  .kiro/specs/attendance-management/tasks.md
Due: none

feat: Add attendances table migration
  backend/db/migrate/20250925100033_create_attendances.rb
  backend/db/schema.rb
Due: rubocop

feat: Implement Attendance model with status management
  backend/app/models/attendance.rb
Due: rubocop

feat: Add attendances association to User model
  backend/app/models/user.rb
Due: rubocop

feat: Add shoulda-matchers gem and configure test environment
  backend/Gemfile
  backend/spec/rails_helper.rb
Due: rubocop

feat: Add Attendance factory for testing
  backend/spec/factories/attendances.rb
Due: rubocop

feat: Add comprehensive test suite for Attendance model
  backend/spec/models/attendance_spec.rb
Due: rubocop

docs: Update task 5.2 status to completed
  .kiro/specs/attendance-management/tasks.md
Due: none

rails,bundle,npmコマンド実行のルール追加
  .kiro/steering/docker-commands.md
Due: none

コマンド変更
  .kiro/steering/docker-commands.md
Due: none

feat: add AttendanceRecord database migration
  backend/db/migrate/20250925102959_create_attendance_records.rb
  backend/db/schema.rb
Due: rubocop

feat: implement AttendanceRecord model
  backend/app/models/attendance_record.rb
Due: rubocop

feat: add AttendanceRecord association to Attendance model
  backend/app/models/attendance.rb
Due: rubocop

test: add AttendanceRecord factory with traits
  backend/spec/factories/attendance_records.rb
Due: rubocop

test: add comprehensive AttendanceRecord model tests
  backend/spec/models/attendance_record_spec.rb
Due: rubocop

docs: update task 5.3 status to completed
  .kiro/specs/attendance-management/tasks.md
Due: none

feat: AuditLogテーブルのマイグレーション作成
  backend/db/migrate/20250925104850_create_audit_logs.rb
  backend/db/migrate/20250925105125_rename_changes_to_change_data_in_audit_logs.rb
  backend/db/schema.rb
Due: rubocop

Path conditions:
  rubocop: any of: \.rb$
  eslint: any of: \.(js|jsx|ts|tsx)$
